
.login-container {
  width: 300px;
  margin: 0; 
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.form-group {
  position: relative; /* Set position relative for containing absolute positioned elements */
  margin-bottom: 15px;
}
.input-field {
  width: calc(100% - 40px); /* Adjust width to accommodate for the eye icon */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
}

.bottom-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.bottom-text a {
  color: #007bff;
  text-decoration: none;
}

.bottom-text a:hover {
  text-decoration: underline;
}
