/* NavBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  color: #fff;
  position: fixed;
  top: 6%; 
  left: 0;
  right: 0;
  width: 70%;
  margin: auto;
  z-index: 1000;
  backdrop-filter: blur(50px);
  border-radius: 30px;
  transform: translateY(-50%); 
  border-radius: 999px;
  backdrop-filter: blur(24px);
  max-height: 40px;
  border: 1px solid rgba(191, 204, 217, 0.5);
  box-shadow: rgba(85, 166, 246, 0.1) 0px 0px 1px, rgba(85, 166, 246, 0.15) 1px 1.5px 2px -1px, rgba(85, 166, 246, 0.15) 4px 4px 12px -2.5px;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navbar-right ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-right ul li {
  margin-right: 50px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease; 
}

.navbar-right ul li:last-child {
  margin-right: 60px;
}

.navbar-right ul li a {
  text-decoration: none;
  color: #000000;
}

.logo {
  height: 40px;
  width: auto;
}

.navbar-right ul li.active {
  position: relative; 
}

.navbar-right ul li.active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%; 
  height: 100%;
  border-radius: 100px; 
  background-color: rgba(0, 123, 255, 0.3); /* Adjust transparency */
  z-index: -1; 
  transition: all 0.3s ease; 
}

.navbar-right ul li.active a {
  position: relative; 
  z-index: 1; 
  color: #fff; 
}

.navbar-right ul li:hover {
  transform: scale(1.1); /* Example hover animation */
}
